    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Landing-Page</h2>
              <br/>
                <p>I am a young game developer, game enthusiast and programming addict.</p>
            <p>I have a bachelors degree in information technology and I specialized in software development. I tried to concentrate all my studies in programming and used my project works to apply my skills in game development</p>
            <p>My work experience might be quite scarce, but I am a fast learner and my enthusiasm more than makes up for it. </p>
            <p></p>
                <br/>
              </div>
        </div>
    </section>
