    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Landing-Page</h2>
              <br/>
                <p>I am a young game developer, programming addict, game enthusiast and hardware geek.</p>
            <p>I have a bachelors degree in information technology and I specialized in software development. I tried to concentrate all my studies in programming and used my project works to apply my skills in game development</p>
            <p>My work experience might be quite scarce, but I am a fast learner and my enthusiasm more than makes up for it.</p>
            <p>My preferred role in a project is a programmes. Programming is the thing that I love and shine in, but I like to contribute in all the other aspects of the project. I can make placeholder graphics and like to pitch in on the design, especially conserning the mechanics.</p>
              <p>As a team member, I try to be in aware of the project as a whole. I naturally take responsibility and I indeendetly try to find places where I can contribute. According to my employer that was one of the reasons I was hired in my current part time job.</p>
                <br/>
              </div>
        </div>
    </section>
