/*
Chunk container styles
*/

.chunk {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1080px;
    /*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -moz-column-fill: balance;
    column-fill: balance;
    width: 100%;*/
}

.chunktable {
    min-height: 100px;
    table-layout: fixed;
    display: table;
    height: 100%;
    width: 100%;
}

.chunkrow {
    display: table-row;
}

.chunkleft {
    display: table-cell;
    text-align: left;
    align-content: left;
    vertical-align: middle;
}

.chunkright {
    display: table-cell;
    text-align: right;
    align-content: right;
    vertical-align: middle;
    margin: 50px;
}


/*
Chunk elements
*/

.chunkimage {
    /*background-color: rgba(0, 0, 150, 0.7);*/
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.chunktext {
    /*background-color: rgba(0, 0, 150, 0.7);*/
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
        vertical-align: top;
    padding: 25px;
}

.chunktitle {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    /*border-radius: 15px;*/
}


/*
CSS for chunk themes
*/

.social {
    background-image: url("../images/social.jpeg");
}

.metsahallitus {
    background-image: url("../images/forest.jpeg");
}

.kyygames {
    background-image: url("../images/kyygames.png");
    background-color: #4a4b4c;
    background-size: 100% 100%;
}

.about {
    background-image: url("../images/gaming.jpeg");
}

.tamk {
    background-image: url("../images/tamk.png");
    background-size: 100% 100%;
    background-color: white;
}

.military {
    background-image: url("../images/social.jpeg");
}

.exerium {
    background-image: url("../images/exerium.png");
    background-color: white;
}


/*
Basic text styles
*/

#textarea {
    color: white;
    float: top;
}

h1 {
    color: red;
    paddin: 0;
    margin: 0;
    font-family: "Jura", sans;
    box-shadow: black;
    text-shadow: black;
}

h2 {
    color: red;
    paddin: 0;
    margin: 0;
    font-family: "Jura", sans;
    box-shadow: black;
    text-shadow: black;
}

h3 {
    margin: 0;
    padding: 0;
    color: red;
    font-family: "Jura", sans;
    box-shadow: black;
    text-shadow: black;
}

p {
    font-family: "Open Sans", sans;
    box-shadow: black;
    text-shadow: black;
}

html {
    text-align: center;
    background-color: #212121;
}

body {
    margin: 0;
    display: inline-block;
    margin: 0px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2%;
    overflow-x: hidden;
    /* For Opera */
    -webkit-box-shadow: inset #212121 0 0 0 5px, inset #262626 0 0 0 1px, inset #2b2b2b 0 0 0 10px, inset #303030 0 0 0 11px, inset #353535 0 0 0 16px, inset #3a3a3a 0 0 0 17px, inset #404142 0 0 0 22px, inset #4a4b4c 0 0 0 23px;
    -moz-box-shadow: inset #212121 0 0 0 5px, inset #262626 0 0 0 1px, inset #2b2b2b 0 0 0 10px, inset #303030 0 0 0 11px, inset #353535 0 0 0 16px, inset #3a3a3a 0 0 0 17px, inset #404142 0 0 0 22px, inset #4a4b4c 0 0 0 23px;
    box-shadow: inset #212121 0 0 0 5px, inset #262626 0 0 0 1px, inset #2b2b2b 0 0 0 10px, inset #303030 0 0 0 11px, inset #353535 0 0 0 16px, inset #3a3a3a 0 0 0 17px, inset #404142 0 0 0 22px, inset #4a4b4c 0 0 0 23px;
}

img {}